.dataframe {
 margin-left: auto;
 margin-right: auto;
 border: 1px solid #28282B;
 background-color: #28282B;
 width: 50%;
}

tr {
  background-color: khaki;
}




body {
background-color: #fceed1;
}


.propfinderInfo {
    margin-right: 5%;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: 15px 15px 15px black;
    text-align: justify;
    color: black;
    background-color:  	#f4a460;
  }
